<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{.Doc.sitename}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/tomorrow-night-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <h2>{{.Doc.title}}</h2>
    </header>
    <article class="table table-responsive">
        {{.Doc.body}}
    </article>
    <footer class="fixed-bottom bg-light small text-center">
        2019 &copy; Frederico Freire Boaventura
    </footer>
</div>
<script async defer src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
